<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
       <wizard
             canFinishEarly="false"
             category="org.eclipse.cdt.ui.newCWizards"
             class="org.eclipse.cdt.objc.ui.wizards.ObjCProjectWizard"
             finalPerspective="org.eclipse.cdt.ui.CPerspective"
             hasPages="true"
             icon="icons/elcl16/newmngcc_app.gif"
             id="org.eclipse.cdt.objc.ui.wizards.ObjCProjectWizard"
             name="%objc.project.name"
             project="true">
         <description>
             %objc.project.desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/m_ovr.png"
            natureId="org.eclipse.cdt.objc.core.objcnature"
            id="org.eclipse.cdt.objc.ui.ObjCProjectNatureImage">
      </image>
   </extension>

</plugin>
