<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
       <wizard
             canFinishEarly="false"
             category="org.eclipse.cdt.ui.newCWizards"
             class="org.eclipse.cdt.objc.ui.wizards.ObjCProjectWizard"
             finalPerspective="org.eclipse.cdt.ui.CPerspective"
             hasPages="true"
             icon="icons/objc_ovr.gif"
             id="org.eclipse.cdt.objc.ui.wizards.ObjCProjectWizard"
             name="%objc.project.name"
             project="true">
         <description>
             %objc.project.desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/objc_ovr.gif"
            id="org.eclipse.cdt.objc.ui.objcNatureImage"
            natureId="org.eclipse.cdt.objc.core.objcnature">
      </image>
   </extension>
      <extension 
      point="org.eclipse.ui.editors">
      <editor
         default="true"
         name="Objective-C"
         icon="icons/m_obj.gif"
         class="org.eclipse.cdt.objc.ui.editor.Editor"
         id="org.eclipse.cdt.objc.ui.ObjCSourceEditor">
            <contentTypeBinding contentTypeId="org.eclipse.cdt.objc.core.objcSource"/>
      </editor>
      <editor
         default="false"
         name="Objective-C"
         icon="icons/h_obj.gif"
         class="org.eclipse.cdt.objc.ui.editor.Editor"
         id="org.eclipse.cdt.objc.ui.ObjCHeaderEditor">
            <contentTypeBinding contentTypeId="org.eclipse.cdt.objc.core.objcHeader"/>
      </editor>
   </extension>
      <extension
            point="org.eclipse.core.filebuffers.documentSetup">
         <participant
               class="org.eclipse.cdt.objc.ui.editor.DocumentSetupParticipant"
               contentTypeId="org.eclipse.cdt.objc.core.objcSource">
         </participant>
      </extension>
      <extension
            point="org.eclipse.core.filebuffers.documentSetup">
         <participant
               class="org.eclipse.cdt.objc.ui.editor.DocumentSetupParticipant"
               contentTypeId="org.eclipse.cdt.objc.core.objcHeader">
         </participant>
      </extension>

</plugin>
